In [ ]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dir_path = "/content/drive/My Drive/Colab Notebooks/Data Science Task"

#Data Exploration

In [ ]:
df_train = pd.read_csv(os.path.join(dir_path , "2016-09-19_79351_training.csv"))

In [ ]:
df_train.head()

,user_id,transaction_date,transaction_type,mcc_group,amount_n26_currency,dataset_transaction,dataset_user
0,a78884f5e76951188c1e719d4956773a,2016-02-01,DT,NaN,350,training,training
1,b0333294fef6ff1299102a70ad46b126,2016-02-01,DT,NaN,202,training,training
2,7b8d2a2780adae0cd0c248e92c1b28dc,2016-02-01,DT,NaN,291,training,training
3,cc4abaa500f7db4390ae3f02bd36d805,2016-02-01,DT,NaN,214,training,training
4,49b99d1d5ba028566639e8b3eb7c055b,2016-02-01,DT,NaN,272,training,training

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408546 entries, 0 to 408545
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              408546 non-null  object
 1   transaction_date     408546 non-null  object
 2   transaction_type     408546 non-null  object
 3   mcc_group            258324 non-null  float64
 4   amount_n26_currency  408546 non-null  int64
 5   dataset_transaction  408546 non-null  object
 6   dataset_user         408546 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 21.8+ MB

In [ ]:
df_train.shape

(408546, 7)

In [ ]:
df_train.nunique()

user_id                10000
transaction_date         182
transaction_type           9
mcc_group                 17
amount_n26_currency     1127
dataset_transaction        1
dataset_user               1
dtype: int64

In [ ]:
df_train.transaction_type.value_counts()

PT     258324
CT      63837
DT      40528
DD      29869
FT       6528
DR       4727
BBU      3561
BUB       942
TUB       230
Name: transaction_type, dtype: int64

In [ ]:
df_train.mcc_group.value_counts()

1.0     69807
2.0     50586
6.0     24672
3.0     20875
8.0     20610
4.0     20194
17.0    11466
16.0    11150
7.0     10888
10.0     7282
11.0     5803
5.0      3337
12.0      873
15.0      329
9.0       287
13.0      141
14.0       24
Name: mcc_group, dtype: int64

In [ ]:
df_train.isna().sum()

user_id                     0
transaction_date            0
transaction_type            0
mcc_group              150222
amount_n26_currency         0
dataset_transaction         0
dataset_user                0
dtype: int64



---